.before_main_header {
  height: 500px;
  background-image: image-url("sc_main.png");
  width: 90%;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
}

.after_main_header {
  width: 100%;
  margin: 0 auto;
  background-color: #333;
}

.modal-form-container {
  background-color: white;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(243, 219, 219);
  width: 400px; /* Could be more or less, depending on screen size */
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textInput {
  display: flex;
  width: 96%;
  height: 30px;
  margin-right: 5px;
  margin: 2px auto;
  border-radius: 4px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
}

.submitButton {
  width: 100%;
  height: 40px;
  margin: 2px auto;
  background-color: #ff5500;
  border-radius: 4px;
  font-size: 20px;
}

.before_session_bar {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.after_session_bar {
  max-width: 1240px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  width: 90%;
  height: 46px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.sc_logo {
  width: 65px;
  height: 40px;
  margin: 6px;
}

.signupButton,
.signinButton {
  width: 150px;
  height: 30px;
  padding: 2px;
  margin: 7px 7px;
  font-size: 15px;
  opacity: 0%;
  border-radius: 5px;
  background-color: #ff7802;
  color: #fff;
  border-color: #ff7802;
  vertical-align: middle;
}

.signinButton:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
}

.signupButton:hover {
  cursor: pointer;
}

.signinButton {
  width: 100px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid rgb(212, 211, 211);
  color: rgb(212, 211, 211);
}

.login-signup {
  display: flex;
}

.before_session_main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 150px;
}

.front_title {
  margin-bottom: 9px;
  font-size: 36px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

.front_semi_title {
  font-size: 18px;
  text-align: center;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  color: #fff;
  margin: 10px;
  line-height: 25px;
}

.buttons {
  top: 60px;
}

.free_trial_button {
  width: 200px;
  height: 40px;
  padding: 2px;
  margin: 7px 7px;
  font-size: 15px;
  opacity: 0%;
  border-radius: 5px;
  background-color: #ff7802;
  color: white;
  border-color: #ff7802;
  vertical-align: middle;
}

.free_trial_button:hover {
  cursor: pointer;
}

.logoutdot {
  font-size: 24px !important;
  color: lightgray;
}
